<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.desofsi.ahorro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividades.LoginAuthActivity"></activity>
        <activity android:name=".actividades.ProfileActivity" />
        <activity
            android:name=".ui.ahorros.CategoriaAhorroActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui.ahorros.AhorrosActivity" />
        <activity android:name=".ui.home.DetailingresosHomeActivity" />
        <activity
            android:name=".ui.home.HomeItemGastosActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui.tools.ToolsitemGastoActivity" />
        <activity
            android:name=".actividades.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.slideshow.PresupuestosSlideShowActivity" />
        <activity
            android:name=".ui.home.Home_Gastos_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.home.Home_Ingresos_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".actividades.AcercaManualActivity"
            android:label="@string/title_activity_acerca_manual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tools.ListToolsIngresosCate"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.tools.ListToolsGastosCate"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.tools.CategoriaGastosActivity"
            android:parentActivityName=".ui.tools.ListToolsGastosCate" />
        <activity
            android:name=".ui.tools.CategoriaIngresosActivity"
            android:parentActivityName=".ui.tools.ListToolsIngresosCate" />
        <activity
            android:name=".actividades.splahActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>